@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

nav ul > li > a::after {
  @apply absolute content-[""] translate-x-[-50%,-50%] w-[120px] h-[60px] bg-[url(/menu-hover-shape.webp)] invisible opacity-0 transition-all duration-[0.5s] ease-[ease] scale-90 left-auto left-2/4 top-2/4;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
  -webkit-transition: all 0.5s ease;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 52%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 70%;
  }
}

body {
  @apply text-[#858792]  bg-[#2a2c39] font-["Poppins"];
}

@keyframes animate-ripple {
  50% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
a {
  transition: all 0.5s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-white;
  font-family: 'Cormorant Garamond';
}

h1 {
  @apply xl:text-[9rem] lg:text-[7.2rem] sm:text-[6rem] font-bold;
}

h2 {
  @apply xl:text-[6rem] lg:text-[4.8rem] font-medium;
}

h4 {
  @apply xl:text-[2.8rem] lg:text-2xl sm:text-4xl font-["Poppins"] font-medium;
}

button {
  @apply flex items-center justify-center hover:bg-[#858792] hover:text-[#252734] text-2xl  gap-5 px-16 py-12 border border-gray-600 rounded-[50px] text-white;
}

p {
  @apply xl:text-[1.8rem] lg:text-[1.6rem];
}

.ripple {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
  top: 50%;
  left: 50%;
  border-radius: 50%;
  z-index: 1;
  animation: animate-ripple 3s infinite linear backwards;
  transform: translate(-50%, -50%);
}

.slick-slider {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.slick-list.slick-list {
  padding: 4rem;
  margin-left: -4rem;
}
.slick-track.slick-track {
  /* gap: 4rem; */
  flex-wrap: nowrap;
  /* margin-left: -9rem; */
  display: flex;
  justify-content: space-between;
}
.slick-slide {
  width: 35.2rem !important;
  margin-right: 4rem;
}
.slick-dot {
  width: 12px;
  height: 12px;
  margin: 0px 5px;
  border-radius: 50%;
  background-color: rgb(107 114 128 / 1);
}

.slick-active .slick-dot {
  background-color: #ffff;
}

.slick-dots ul {
  position: relative;
  justify-content: center;
}
.portfolio .slick-prev.slick-prev {
  right: 15%;
}
.portfolio .slick-next.slick-next {
  right: 8%;
}

.portfolio .slick-prev.slick-prev,
.portfolio .slick-next.slick-next {
  left: auto;
  top: -10rem;
  scale: 1.2;
  color: #ffff;
}
.portfolio .slick-prev.slick-prev:before,
.portfolio .slick-next.slick-next:before {
  /* color: #2a2c39; */
  font-size: 3rem;
}

.catagory-nav-item li {
  @apply inline-block relative mr-2.5  ml-2.5;
}

.catagory-nav-item li a:after {
  @apply absolute content-["/"] left-[calc(100%_+_5px)];
}
.portfolio .slick-track {
  left: -10%;
}

.project-slide.project-slide {
  @apply w-[59.95rem!important] flex flex-col gap-[5.5rem];
  width: 59.5rem !important;
  display: flex !important;
}

.clients.clients {
  width: auto !important;
  padding: 5rem;
}

.footer-single-info .info-box:hover .icon {
  @apply text-[#252734] border-white;
  background: #fff;
}
